.tooltip-w3 {
  position: relative;
  display: inline-block;
}

.tooltip-w3 .tooltiptext-w3 {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 125%;
  left: -30px;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip-w3 .tooltiptext-w3::after {
  content: "";
  position: absolute;
  bottom: 100%;
  right: 17px;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #555 transparent;
}

@media (max-width: 991.98px) {
  .tooltip-w3 .tooltiptext-w3 {
    top: initial;
    bottom: 100%;
    left: 50px;
    margin-left: -60px;
  }

  .tooltip-w3 .tooltiptext-w3::after {
    top: 100%;
    right: 96px;
    border-color: #555 transparent transparent transparent;
  }
}

.tooltip-w3:hover .tooltiptext-w3 {
  visibility: visible;
  opacity: 1;
}
