<div class="container bg-white pb-5">
    <div>
        <label for="cars">Choose a Set:</label>
        <select name="cars" id="cars" [ngModel]="cardSet" (ngModelChange)="onCardSetChange($event)">
            <option value=""></option>
            <option *ngFor="let b of magicSets" [value]="b.name">{{b.name}}</option>
        </select>
    </div>
    <div>
        <label for="cars">Choose a CardNumber:</label>
        <select [disabled]="!maxCardNum" name="cars" id="cars" [ngModel]="selectedCardNum" (ngModelChange)="onCardNumChange($event)">
            <option value=""></option>
            <ng-container *ngIf="maxCardNum">
                <option *ngFor="let a of Arr(maxCardNum).fill(1); let i = index" [value]="i+1">{{i+1}}</option>
            </ng-container>
        </select>
    </div>
    <div>
        <ul class="mx-2" *ngIf="cardPreview">
            <app-magic-card [magicCard]="cardPreview" [onlyShow]="true"></app-magic-card>
            <br style="clear: both" />
        </ul>
    </div>
    <ng-container *ngIf="possibleArr">
        <div *ngFor="let poss of possibleArr">
            {{possStrFormat(poss)}}
        </div>
    </ng-container>
    

    <ng-container *ngIf="selectedCardNum && cardSet">
        Ez majd egy másik box-ba
        <div>
            <label for="cardVariantTypes">Válassz típust:</label>
            <select name="cardVariantTypes" id="cardVariantTypes" [(ngModel)]="cardVariantType">
                <option *ngFor="let type of cardVariantTypes" [value]="type">{{type}}</option>
            </select>
        </div>
        <div>
            <label for="normal">Van normál verziója?</label>
            <input type="checkbox" name="normal" [(ngModel)]="hasNormal"/>
        </div>
        <div>
            <label for="foil">Van foil verziója?</label>
            <input type="checkbox" name="foil" [(ngModel)]="hasFoil"/>
        </div>
        <button [disabled]="creationLoading" class="btn btn-primary" (click)="onAddPosibleCardVariation()">Küldés</button>
    </ng-container>
    
</div>
