:host {
    width: 100%;
}

.navigate-arrow-calendar.ng-fa-icon {
    cursor: pointer;
    z-index: 1;
    font-size: 24px;
}

.card-body {
    align-items: center;
    justify-content: center;
}

.calendar-container {
    will-change: transform;
}
