#IconCard {
    width: 97%;
}

#container{
  min-width: 360px;
}


.no-webp body {
  background-image: url("/assets/background/pexels-photo-268959.jpeg");
}

.webp body {
  background-image: url("/assets/background/pexels-photo-268959.webp");
}

@media (max-width: 575px) {
  .no-webp body {
    background-image: url("/assets/background/background_mobile.png");
  }

  .webp body {
    background-image: url("/assets/background/background_mobile.webp");
  }
}
