#IconCard {
    width: 97%;
}

#container{
  min-width: 360px;
}


.no-webp body #custom-bg {
  background-image: url("/assets/background/pexels-photo-268959.jpeg");
}

.webp body #custom-bg {
  background-image: url("/assets/background/pexels-photo-268959.webp");
}

#custom-bg {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  left: 0;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  z-index: -10;
}

@media (max-width: 575px) {
  .no-webp body {
    background-image: url("/assets/background/background_mobile.png");
  }

  .webp body {
    background-image: url("/assets/background/background_mobile.webp");
  }
}

/* -------------- Modal Settings START--------------*/
.hidden{
  display:none;
}
.show{
  display:block;
}

#modal-container {
  position:  fixed;
  bottom: 53%;
  left: 50%;
  width: 375px;
  background: white;
  text-align: center;
  box-shadow: 0px 0px 2px 1px black;
  z-index: 100;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: .3rem;
  transform: translate(-50%, 50%);
  transition: all 0.3s;
  opacity: 0;
}

#modal-container.show-after {
  bottom: 50%;
  opacity: 1;
}

#overlay.show-after {
  opacity: 1;
}

#overlay {
  position: fixed;
  top: 0px;
  left:  0px;
  z-index:  99;
  background:  rgba(0,0,0,0.8);
  width:  100%;
  height: 1110vh;
  opacity: 0;
  transition: opacity 0.15s;
}
/* -------------- Modal Settings END--------------*/
