<div class="container bg-light p-3">
    <h1>Kártya hozzáadó rendszer</h1>
    <form (ngSubmit)="addCard()">
        <textarea
            name="card-numbers"
            id="card-numbers"
            [(ngModel)]="cardNumbersStr"
            cols="30"
            rows="10"
        ></textarea
        ><br />
        Card set:
        <select class="mb-3" name="cardSet" [(ngModel)]="cardSet">
            <option
                [value]="cardSetvalue"
                *ngFor="let cardSetvalue of cardSetsArray"
                >{{ cardSetvalue }}</option
            >
        </select>
        <br />
        <button class="btn btn-primary">Elküld</button>
    </form>
    <p *ngIf="inProgress">Feltöltés folyamatban</p>
    <p *ngIf="isFinished && !isError">Feltöltés befejezősött</p>
    <p *ngIf="isError">Valami hiba történt</p>
    <app-modify-preview
        *ngIf="reducedArr"
        [modifyCard]="reducedArr"
    ></app-modify-preview>
</div>
