<ng-container [ngSwitch]="magicCard.layout">
    <picture *ngSwitchDefault class="magiccard">
        <source [srcset]="imageSrcWebp" type="image/webp" />
        <source [srcset]="imageSrcPng" type="image/png" />
        <img
            class="magiccard magiccard-full"
            src="{{ cardImgUrlBase }}{{ magicCard.cardExpansion }}/png/{{
                magicCard.cardExpansion
            }}_{{ magicCard.cardNumber }}.png"
            alt=""
            [title]="magicCard.cardNumber"
        />
    </picture>

    <app-magic-card-meld
        *ngSwitchCase="'meld'"
        [magicCard]="magicCard"
        [cardImgUrlBase]="cardImgUrlBase"
    ></app-magic-card-meld>
    <app-magic-card-transform
        *ngSwitchCase="'transform'"
        [magicCard]="magicCard"
        [cardImgUrlBase]="cardImgUrlBase"
    ></app-magic-card-transform>
    <app-magic-card-transform
        *ngSwitchCase="'modal_dfc'"
        [magicCard]="magicCard"
        [cardImgUrlBase]="cardImgUrlBase"
    ></app-magic-card-transform>
    <app-magic-card-split
        *ngSwitchCase="'split'"
        [magicCard]="magicCard"
        [cardImgUrlBase]="cardImgUrlBase"
    ></app-magic-card-split>
    <app-magic-card-aftermath
        *ngSwitchCase="'aftermath'"
        [magicCard]="magicCard"
        [cardImgUrlBase]="cardImgUrlBase"
    ></app-magic-card-aftermath>
</ng-container>
