<form (ngSubmit)="addCard()">
    <textarea
        style="min-width: 350px;"
        name="card-numbers"
        id="card-numbers"
        [(ngModel)]="cardNumbersStr"
        (input)="onCardTyping()"
        rows="5"
    ></textarea
    ><br />
    Card set:
    <select class="mb-3" name="cardSet" [(ngModel)]="cardSet">
        <option [value]="cardSetvalue" *ngFor="let cardSetvalue of cardSetsArray">
            {{ cardSetvalue }}
        </option>
    </select>
    <br />
    <button class="btn btn-primary">Elküld</button>
    <button type="button" class="ml-3 btn btn-secondary">Törlés</button>
    <p class="text-danger" *ngIf="isError">
        Valami hiba történt, nézzed át a beírt számokat
        <ng-container *ngIf="wrongNums?.length !== 0"
            ><br />A rossz számok:
            <ng-container *ngFor="let wrong of wrongNums"
                >{{ wrong }}
            </ng-container></ng-container
        >
        <ng-container *ngIf="notNumbers?.length"
            ><br />Nem szám:
            <ng-container *ngFor="let notNum of notNumbers"
                >{{ notNum }}
            </ng-container></ng-container
        >
    </p>
</form>
<ul *ngIf="lastCardPreview">
    <app-magic-card 
        [magicCard]="lastCardPreview"
        [onlyShow]="true"
    ></app-magic-card>
    <br style="clear: both;">
</ul>