<div class="flex flex-wrap">
    <div>
        <form (ngSubmit)="addCard()">
            <div class="mt-3">
                Card set:
                <select name="cardSet" [ngModel]="cardSet" (ngModelChange)="onSetChange($event)">
                    <option [value]="cardSetvalue" *ngFor="let cardSetvalue of cardSetsArray">
                        {{ cardSetvalue }}
                    </option>
                </select>
                <div class="ml-4 inline-block" *ngIf="cardSet">
                    <img
                        class="setIcon max-w-none"
                        src="assets/img/set-icons/{{ cardSet.toLowerCase() }}.svg"
                        alt="Selected set icon {{ cardSet.toLowerCase() }}"
                    />
                </div>
            </div>
            <div class="mt-2">
                Card type:
                <select name="cardVariantType" [(ngModel)]="cardVariantType">
                    <option [value]="cardVariantTypeValue" *ngFor="let cardVariantTypeValue of cardVariantTypes">
                        {{ cardVariantTypeValue }}
                    </option>
                </select>
            </div>
            <div class="mt-2 mb-5">
                Card Language:
                <select name="cardLanguage" [(ngModel)]="cardLanguage">
                    <option [value]="cardLanguagesValue" *ngFor="let cardLanguagesValue of cardLanguages">
                        {{ cardLanguagesValue }}
                    </option>
                </select>
            </div>
            <textarea
                class="border-3 border-black mt-2 mb-5 block"
                style="min-width: 350px"
                name="card-numbers"
                id="card-numbers"
                [(ngModel)]="cardNumbersStr"
                (input)="onCardTyping()"
                rows="5"
            ></textarea>
            <p class="text-danger" *ngIf="isError">
                Valami hiba történt, nézzed át a beírt számokat
                <ng-container *ngIf="wrongNums?.length !== 0"
                    ><br />A rossz számok:
                    <ng-container *ngFor="let wrong of wrongNums"
                        >{{ wrong }}
                    </ng-container></ng-container
                >
                <ng-container *ngIf="notNumbers?.length"
                    ><br />Nem szám:
                    <ng-container *ngFor="let notNum of notNumbers"
                        >{{ notNum }}
                    </ng-container></ng-container
                >
            </p>
            <button class="btn btn-primary">Elküld</button>
            <button type="button" class="ml-3 btn btn-secondary">Törlés</button>
        </form>
    </div>
    <div>
        <ul class="mx-2" *ngIf="lastCardPreview">
            <app-magic-card [magicCard]="lastCardPreview" [onlyShow]="true"></app-magic-card>
            <br style="clear: both" />
        </ul>
    </div>
</div>
