<div class="container px-0 mt-2">
  <div class="card">
    <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
    <div class="card-header">
      Esemény leírás
      <fa-icon (click)="onClose()" icon="times" class="float-right pointer"></fa-icon>
    </div>
    <div class="card-body">
      <h4 class="card-title">{{selectedCalendarEvent.title}}</h4>
      <div class="row">
        <div class="col-6">
          <div class="col-12"><h5>Eseményre jelentkezettek:</h5></div>
          <div class="col-12" *ngFor="let e of dummyArray">{{e}}</div>
        </div>
        <div class="col-6">
          <p>Helyszín: Sárkánytűz</p>
          <p>Formátum: Draft</p>
          <p>Időpont: {{selectedCalendarEvent.hour}}:{{selectedCalendarEvent.minute}}</p>
        </div>
      </div>

      <button type="button" class="btn btn-primary">Jelentkezés</button>
    </div>
  </div>
</div>

