:host {
  margin-right: 10px;
  float: left;
}

#expansionContainer {
    position: relative;
    width: 80px;
    background-color: #EEE;
    float: left;
    margin: 0px;
    display: inline-table;
  z-index: 50;
}

.mobile-menu {
    display: none;

}

@media (max-width: 575px){
    #expansionContainer {
        display: none;
    }

    .mobile-menu {
        display: block;
        bottom: 0;
        left: 0;
        z-index: 50;
        width: 100%;
        white-space: nowrap;
        overflow-x: scroll;
        overflow-y: hidden;
        height: 75px;
    }

}



