extends layout

append head
	script(type='text/javascript' src='/javascripts/jquery-3.2.1.min.js')

block content
	h1= title
	p Welcome to #{title}
	p Szia itt is #{Test}
	
block append foot
	script.
		var workflowData = !{workflowData}
	script(type='text/javascript' src='/javascripts/main.js')