<div class="modal-body">
  <h3 class="mb-3">Regisztráció</h3>
  <form [formGroup]="registrationForm" (ngSubmit)="onRegistrationSubmit()">
    <div class="form-group">
      <label for="exampleInputUsername">Teljes név</label>
      <input type="text" class="form-control" formControlName="username" id="exampleInputUsername" aria-describedby="usernameHelp" placeholder="Név">
      <small id="usernameHelp" class="form-text text-muted">Ez a név lesz megjelenítve a versenynaptárnál</small>
      <span class="text-danger" *ngIf="submitted && regname && regname.invalid && regname.errors && regname.errors['required']">
        Szükséges megadni nevet
      </span>
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Email cím</label>
      <input type="email" class="form-control" formControlName="email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email">
      <span class="text-danger" *ngIf="regemail && regemail.invalid && regemail.errors && regemail.errors['emailUsed']">
        Email already in use!
      </span>
      <span class="text-danger" *ngIf="submitted && regemail && regemail.invalid && regemail.errors && regemail.errors['required']">
        Szükséges megadni emailt
      </span>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Jelszó</label>
      <input type="password" class="form-control" formControlName="password" id="exampleInputPassword1" placeholder="Jelszó">
      <ng-container *ngIf="regpass.invalid">
        <p class="text-danger" *ngIf="submitted && regpass && regpass.errors && regpass.errors['pattern']">
            Jelszóban szerepelni kell:<br>
            - Nagybetűnek<br>
            - Kis betűnek<br>
            - Számnak
        </p>
          <span class="text-danger" *ngIf="submitted && regpass && regpass.errors && regpass.errors['required']">
            Szükséges megadni jelszót
          </span>
      </ng-container>
    </div>
    <button [disabled]="loading" class="btn btn-primary">Regisztráció</button>
  </form>
</div>
