<div class="modal-header pb-0">
    <button type="button" (click)="onPageChange('Login')" [ngClass]="{ 'btn-primary' : selectedPage === 'Login', 'btn-outline-primary' : selectedPage !== 'Login'}" class="btn pull-left rounded-bottom-0 border-bottom-0">Log in</button>
    <button type="button"  (click)="onPageChange('Registration')" [ngClass]="{ 'btn-primary' : selectedPage === 'Registration', 'btn-outline-primary' : selectedPage !== 'Registration'}" class="btn btn-outline-primary pull-left rounded-bottom-0 border-bottom-0">Registration</button>
  <!-- <h4 class="modal-title pull-left">Modal</h4> -->
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <!-- ---------LOGIN------ -->
  <form *ngIf="selectedPage === 'Login'" [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()">
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" [ngClass]="{'is-invalid':  logemail.touched && logemail.invalid && logemail.errors['email']}" class="form-control" formControlName="email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        <span class="text-danger" *ngIf="logemail.invalid && logemail.errors['email']">
          This is not a valid email!
        </span>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" [ngClass]="{'is-invalid': logpass.invalid && logpass.errors['wrongPass']}" class="form-control" formControlName="password" id="exampleInputPassword1" placeholder="Password">
        <span class="text-danger" *ngIf="logpass.invalid && logpass.errors['wrongPass']">
          Wrong password
        </span>
      </div>
      <button [disabled]="loading" class="btn btn-primary">Login</button>
    </form>
  <!-- ---------REGISTRATION------ -->
  <form *ngIf="selectedPage === 'Registration'" [formGroup]="registrationForm" (ngSubmit)="onRegistrationSubmit()">
    <div class="form-group">
      <label for="exampleInputUsername">Username</label>
      <input type="text" class="form-control" formControlName="username" id="exampleInputUsername" aria-describedby="usernameHelp" placeholder="Enter Username">
      <small id="usernameHelp" class="form-text text-muted">You will log in with this name</small>
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" formControlName="email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
      <small id="emailHelp" [ngClass]="{'is-invalid': regemail.invalid && regemail.errors['emailUsed']}" class="form-text text-muted">We'll never share your email with anyone else.</small>
      <span class="text-danger" *ngIf="regemail.invalid && regemail.errors['emailUsed']">
        Email already in use!
      </span>
    </div>
    <!-- <div class="form-group">
        <label for="exampleInputEmail2">Verify Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail2"placeholder="Enter email">
      </div> -->
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" formControlName="password" id="exampleInputPassword1" placeholder="Password">
    </div>
    <!-- <div class="form-group">
      <label for="exampleInputPassword2">Verify Password</label>
      <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password">
    </div> -->
    <!-- <div class="form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div> -->
    <button [disabled]="loading" class="btn btn-primary">Registration</button>
  </form>
</div>
