<div class="container px-0 mt-2 mb-5" #target>
    <div class="card">
        <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
        <div class="card-header">
            Esemény leírás
            <fa-icon
                (click)="onClose()"
                [icon]="faTimes"
                class="float-right pointer"
            ></fa-icon>
        </div>
        <div class="card-body">
            <h4 class="card-title">{{ selectedCalendarEvent.title }}</h4>
            <div class="row">
                <div class="col-6">
                    <div class="col-12"><h5>Eseményre jelentkezettek:</h5></div>
                    <div class="col-12" *ngFor="let e of participants">
                        {{ e }}
                    </div>
                </div>
                <div class="col-6">
                    <p>Helyszín: {{ selectedCalendarEvent.location }}</p>
                    <p>Formátum: Draft</p>
                    <p>
                        Időpont: {{ hourPad }}:{{ minutePad }}
                    </p>
                </div>
            </div>
            <ng-container *ngIf="isLoggedIn">
                <button *ngIf="!isJoined" type="button" [disabled]="isLoading" class="btn btn-primary" (click)="onJoinCalendarEvent()">Jelentkezés</button>
                <button *ngIf="isJoined" type="button" [disabled]="isLoading" class="btn btn-primary" (click)="onLeaveCalendarEvent()">Lejelentkezés</button>
                <br>
            </ng-container>

            <ng-container *ngIf="eventPrivilege">
                <a class="btn btn-primary my-4" [routerLink]="['/', 'calendar', 'modify', selectedCalendarEvent.id]">Módosítás</a>
                <button type="button" class="btn btn-danger" (click)="onDelete()">Törlés</button>
            </ng-container>
        </div>
    </div>
</div>
