<div class="container bg-dark calendar-container">
    <div class="row">
        <div class="px-0 col">
            <div class="card">
                <div
                    class="p-1 text-center text-white card-body font-weight-bold bg-dark d-flex"
                >
                    <fa-icon
                        (click)="onPreviousMonth()"
                        [icon]="faAngleLeft"
                        class="text-white navigate-arrow-calendar d-block"
                    ></fa-icon>
                    <div class="d-block no-select" style="width: 150px;">
                            {{ currentDate.getFullYear() }}
                            {{ monthNameArray[currentDate.getMonth()] }}
                    </div>
                    <fa-icon
                        (click)="onNextMonth()"
                        [icon]="faAngleRight"
                        class="text-white navigate-arrow-calendar d-block"
                    ></fa-icon>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="px-0 col" *ngFor="let day of daysArray">
            <div class="card">
                <div
                    class="p-1 text-center text-white card-body font-weight-bold bg-dark d-none d-sm-block"
                >
                    {{ day.long }}
                </div>
                <div
                    class="p-1 text-center text-white card-body font-weight-bold bg-dark d-block d-sm-none"
                >
                    {{ day.short }}
                </div>
            </div>
        </div>
    </div>



    <div class="row">
        <ng-container *ngIf="!calendarDayList">
            <ng-container *ngFor="let dummyDay of dummyDays; let i = index">
                <div class="px-0 col" style="margin: 2px;">
                    <div
                        class="card h-100 bg-secondary"
                    >
                        <div
                            class="px-0 py-1 card-body px-sm-1 calendar-day-body"
                            style="min-height: 77px"
                        >
                            <div>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="i % 7 == 6" class="w-100"></div>
            </ng-container>
        </ng-container>

        <ng-container *ngIf="calendarDayList">
            <ng-container *ngFor="let element of calendarDayList; let i = index">
                <div class="px-0 col" style="margin: 2px;">
                    <div
                        class="card h-100"
                        [ngClass]="{ 'bg-secondary': element.isOffMonth }"
                    >
                        <div
                            class="px-0 py-1 card-body px-sm-1 calendar-day-body"
                            style="min-height: 77px"
                        >
                            <fa-icon
                                [icon]="faCalendarPlus"
                                class="position-absolute d-none p-sm-1 add-event-icon"
                                style="bottom: 0;right: 0;z-index: 1;"
                            ></fa-icon>
                            <div>
                                <p class="mb-0 text-right no-select" style="font-size: 14px">
                                    {{ element.day }}
                                </p>
                            </div>
                            <app-calendar-element
                                [calendarEvent]="e"
                                *ngFor="let e of element.calendarEventList"
                            ></app-calendar-element>
                        </div>
                    </div>
                </div>
                <div *ngIf="i % 7 == 6" class="w-100"></div>
            </ng-container>
        </ng-container>

    </div>

</div>

<app-event-details *ngIf="isDetailsOpen" [eventPrivilege]="eventPrivilege" (deleteCalendarEvent)="onDelete($event)"></app-event-details>


<a *ngIf="eventPrivilege" class="my-4 btn btn-primary" [routerLink]="['/', 'calendar', 'add']">Új esemény</a>
