<li class="nowrap magiccard_li" [ngSwitch]="magicCard.doubleside">

    <!-- Normal cards -->
    <img
      *ngSwitchCase="'0'"
      class="magiccard"
      src="assets/img/cards/{{magicCard.cardExpansion}}/{{magicCard.cardExpansion}}_{{magicCard.cardNumber}}.png"
      alt=""
      [title]="magicCard.cardNumber"
      [appMagicCardAmount]="magicCard.cardAmount">

    <!-- Double Side cards -->
    <div class="flip-container" [ngClass]="flipClass ? 'hover' : ''" *ngSwitchCase="'1'" #flipperContainer>
      <div class="flipper">
        <div class="front">
          <img
          class="magiccard"
          title="{{magicCard.cardNumber}}"
          src="assets/img/cards/{{magicCard.cardExpansion}}/{{magicCard.cardExpansion}}_{{magicCard.cardNumber}}.png"
          srcset="medium.jpg 600w, large.jpg 2000w"
          appMagicCardAmount="{{magicCard.cardAmount}}"
          (click)="flipClass = true;">
        </div>
        <div class="back">
            <img
            class="magiccard"
            title="{{magicCard.cardNumber}}"
            src="assets/img/cards/{{magicCard.cardExpansion}}/{{magicCard.cardExpansion}}_{{magicCard.cardNumber}}_F.png"
            appMagicCardAmount="{{magicCard.cardAmount}}"
            (click)="flipClass = false;">
        </div>
      </div>
    </div>

    <p *ngSwitchDefault>No cards</p>
</li>
