:host {
  width: 100%;
  margin-left: 10px;
}

.navigate-arrow-calendar.ng-fa-icon {
  cursor: pointer;
  color: #343a40;

}

/*
.navigate-arrow-calendar.ng-fa-icon:active {
  padding-top: 1px; Baszódjon meg a hover....
}*/

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

/* .calendar-day-body:hover .add-event-icon { display: block !important; } */

.calendar-container {
	will-change: transform;
}
