:host {
    width: 100%;
}

.modal-body {
    width: 300px;
    margin: auto;
    background-color: #fff;
    padding: 24px;
    border-radius: 4px;
}

.full-line {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #000;
    line-height: 0.1em;
    margin: 10px 0 20px;
}

.full-line span {
    background: #fff;
    padding: 0 10px;
}
