<div
    id="expansionContainer"
    class="border border-sm-0 border-left-0 border-dark"
>
    <app-magic-set-icon
        [expansionName]="cardSet"
        *ngFor="let cardSet of cardSetsArray"
    ></app-magic-set-icon>
</div>

<div (scroll)="onScroll($event)" class="mobile-menu bg-light">

    <app-magic-set-icon
        class="set-icon"
        [expansionName]="cardSet"
        *ngFor="let cardSet of cardSetsArray"
    ></app-magic-set-icon>

</div>

<div *ngIf="isScrollVisible" class="position-fixed floating-arrow" style="bottom: 0; right: 0;">
    <fa-icon
        [icon]="faAngleRight"
        class="floating-arrow-item"
    ></fa-icon>
</div>
