<div
    id="expansionContainer"
    class="border border-sm-0 border-left-0 border-dark"
>
    <app-magic-set-icon
        [expansionName]="cardSet"
        *ngFor="let cardSet of cardSetsArray"
    ></app-magic-set-icon>
</div>

<div (scroll)="onScroll($event)" class="mobile-menu bg-light" #setmenu>

  <div class="mobile-menu-inner">
    <app-magic-set-icon
        class="set-icon"
        [expansionName]="cardSet"
        *ngFor="let cardSet of cardSetsArray"
    ></app-magic-set-icon>
  </div>
</div>

<div class="position-fixed floating-arrow-left pointer" (click)="onScrollLeft(setmenu)" [ngClass]="{'dont-show-left': isScrollLeftHide}">
    <fa-icon
        [icon]="faAngleLeft"
        class="floating-arrow-item-left"
        ></fa-icon>
</div>

<div [ngClass]="{'dont-show-down': isScrollDownHide, 'dont-show-right': isScrollRightHide}" class="position-fixed floating-arrow">
    <div class="pointer" (click)="onScrollRight(setmenu)" style="padding-left: 8px;">
        <fa-icon
        [icon]="faAngleRight"
        class="floating-arrow-item-right"
        ></fa-icon>
    </div>

    <div class="pointer floating-arrow-item-down-container" (click)="onScrollDown(setmenu)" style="padding-left: 10px; padding-right: 10px;">
        <fa-icon
            [icon]="faAngleDown"
            class="floating-arrow-item-down"
        ></fa-icon>
    </div>
</div>
