.magiccard-full {
  max-width: 100%;
  max-height: 100%;
  margin: 20px;
}

/* Card Flip for double side */
.flip-container.hover .flipper {
  transform: rotateY(180deg);
}

.flip-container, .flipper, .front, .back {
  height: inherit;
}

.flipper {
  width: 265px;
  height: 370px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

.front {
  z-index: 2;
  transform: rotateY(0deg);
}

.back {
  transform: rotateY(180deg);
}

.front, .back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
