<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand d-none d-lg-block" routerLink="/">Navbar</a>
    <fa-icon class="d-lg-none pointer" [icon]="faBars" (click)="sideMenuService.toggleSideMenu()"></fa-icon>

    <ul class="navbar-nav mr-auto d-none d-lg-flex" style="align-items: center;flex-direction: row;">
        <li
            class="nav-item"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
        >
            <a class="nav-link" routerLink="/">Home</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/cards">My Cards</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/calendar">Calendar</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/addcards">Add Cards</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/removecards">Remove Cards</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
        </li>
        <li class="nav-item">
            <p *ngIf="!loggedUser" class="nav-link pointer mb-0" (click)="openModalWithComponent()">
                Log in
            </p>
            <p *ngIf="loggedUser" class="nav-link pointer mb-0" (click)="onLogout()">Log Out</p>
        </li>
        <li class="nav-item" *ngIf="loggedUser">
            <img src="/assets/img/user-icon/default-icon.png" style="width: 40px">
            {{loggedUser.email}}
        </li>
    </ul>
    <div class="tooltip-w3">
        <fa-icon [icon]="faInfoCircle"></fa-icon>
        <span class="tooltiptext-w3">{{ version }}</span>
    </div>
</nav>

<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="/">Navbar</a>
    <button (click)="sideMenuService.toggleSideMenu()">Szia</button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto d-none d-lg-flex" style="align-items: center;">
            <li
                class="nav-item"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
            >
                <a class="nav-link" routerLink="/">Home</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/cards">My Cards</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/calendar">Calendar</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/addcards">Add Cards</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/removecards">Remove Cards</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li>
            <li class="nav-item">
                <p *ngIf="!loggedUser" class="nav-link pointer mb-0" (click)="openModalWithComponent()">
                    Log in
                </p>
                <p *ngIf="loggedUser" class="nav-link pointer mb-0" (click)="onLogout()">Log Out</p>
            </li>
            <li class="nav-item" *ngIf="loggedUser">
                <img src="/assets/img/user-icon/default-icon.png" style="width: 40px">
                {{loggedUser.email}}
            </li>
        </ul>
        <div class="tooltip-w3">
            <fa-icon [icon]="faInfoCircle"></fa-icon>
            <span class="tooltiptext-w3 top-md right-md">{{ version }}</span>
        </div>
    </div>
</nav> -->
