<div class="flip-container" [ngClass]="flipClass ? 'hover' : ''">
    <div class="flipper">
        <div class="front">
            <picture class="magiccard">
                <source [srcset]="cardUrls.mainCardWebpUrl" type="image/webp" />
                <source [srcset]="cardUrls.mainCardPngUrl" type="image/png" />
                <img
                    class="magiccard"
                    [title]="magicCard.cardNumber"
                    [src]="cardUrls.mainCardPngUrl"
                    (click)="flipClass = true"
                />
            </picture>
        </div>
        <div class="back">
            <picture class="magiccard">
                <source [srcset]="cardUrls.flipCardWebpUrl" type="image/webp" />
                <source [srcset]="cardUrls.flipCardPngUrl" type="image/png" />
                <img
                    class="magiccard"
                    [title]="magicCard.cardNumber"
                    [src]="cardUrls.flipCardPngUrl"
                    (click)="flipClass = false"
                />
            </picture>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<fa-icon [icon]="faSyncAlt" (click)="flipClass = !flipClass" class="pointer"></fa-icon>
