<app-magic-set-list
    class="card-set-mobil-landscape"
></app-magic-set-list>
<div id="fullThings" *ngIf="expansion && filteredCardsArray" (swipeRight)="onSwipeRight()" (swipeLeft)="onSwipeLeft()">
    <app-magic-card-rarity-filter></app-magic-card-rarity-filter>
    <ngb-pagination class="my-pagination" [page]="currentPage" (pageChange)="onPageChange($event)" [pageSize]="itemsPerPage" [collectionSize]="filteredCardsArray.length" [directionLinks]="false"></ngb-pagination>
    <ul id="things" class="px-0">
        <app-magic-card [magicCard]="card" *ngFor="let card of filteredCardsArray | slice: (currentPage-1) * itemsPerPage : (currentPage-1) * itemsPerPage + itemsPerPage; trackBy: trackCard"></app-magic-card>

        <p *ngIf="filteredCardsArray.length === 0">Nincs megjeleníthető kártya, állíts a szűréseken!</p>
        <!-- Fake Cards -->
        <li class="fake-card"></li>
        <li class="fake-card"></li>
        <li class="fake-card"></li>
        <li class="fake-card"></li>
        <li class="fake-card"></li>
        <li class="fake-card"></li>
        <li class="fake-card"></li>
        <li class="fake-card"></li>
    </ul>
    <ngb-pagination class="my-pagination" [(page)]="currentPage" [pageSize]="itemsPerPage" [collectionSize]="filteredCardsArray.length" [directionLinks]="false"></ngb-pagination>
</div>
