<div id="fullThings" class="mx-auto">
  <pagination-controls class="my-pagination" maxSize="20" directionLinks="false" (pageChange)="p = $event" #page></pagination-controls>
  <ul id="things" class="px-0">
    <app-magic-card [magicCard]="card" *ngFor="let card of cardsArray | paginate: { itemsPerPage: 35, currentPage: p }"></app-magic-card>
    <!-- Fake Cards -->
    <li class="nowrap" style="width: 217px;"></li>
    <li class="nowrap" style="width: 217px;"></li>
    <li class="nowrap" style="width: 217px;"></li>
    <li class="nowrap" style="width: 217px;"></li>
    <li class="nowrap" style="width: 217px;"></li>
    <li class="nowrap" style="width: 217px;"></li>
    <li class="nowrap" style="width: 217px;"></li>
    <li class="nowrap" style="width: 217px;"></li>
  </ul>
  <pagination-controls class="my-pagination" maxSize="20" directionLinks="false" (pageChange)="p = $event"></pagination-controls>
</div>
