#things{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

ol,ul{
    list-style: none;
}

.my-pagination /deep/ .ngx-pagination .current span{
    display: inline-block;
    padding: 0px 9px;
    margin-right: 4px;
    border-radius: 3px;
    border: none;
    background: #616161;
    box-shadow: inset 0px 0px 8px rgba(0,0,0, .5), 0px 1px 0px rgba(255,255,255, .8);
    color: #f0f0f0;
    text-shadow: 0px 0px 3px rgba(0,0,0, .5);
    font-size: .875em;
    font-weight: bold;
    text-decoration: none;
    line-height: 24px;
  }

.my-pagination /deep/ .ngx-pagination li{
    float: left;
    display: block;
    margin: 0;
    padding: 0;
    background: none;
}

.my-pagination /deep/ .ngx-pagination li a:hover{
    background: #fefefe;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FEFEFE), to(#f0f0f0));
    background: -moz-linear-gradient(0% 0% 270deg,#FEFEFE, #f0f0f0);
	cursor:pointer;
}

.my-pagination /deep/ .ngx-pagination li.small-screen{
    display: none;
}
.my-pagination /deep/ .ngx-pagination li a{
    display: inline-block;
    padding: 0px 9px;
    margin-right: 4px;
    border-radius: 3px;
    border: solid 1px #c0c0c0;
    background: #e9e9e9;
    box-shadow: inset 0px 1px 0px rgba(255,255,255, .8), 0px 1px 3px rgba(0,0,0, .1);
    font-size: .875em;
    font-weight: bold;
    text-decoration: none;
    color: #717171;
    text-shadow: 0px 1px 0px rgba(255,255,255, 1);
    line-height: 24px;
    text-decoration: none;
}

.my-pagination /deep/ {
    padding: 20px;
      font: 14px/24px sans-serif;
      margin: auto;
      margin-bottom: 20px;
      margin-bottom: 30px;
}

.pageList li {

    float: left;
    display: block;

}

#fullThings {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
}

.nowrap {
    position: relative;
    z-index: 20;
    float: left;
    margin: 5px 3px;
}

.fake-card {
  width: 217px;
  margin: 5px 3px;
}

@media screen and (max-width: 575px){
  pagination-controls.my-pagination /deep/ pagination-template ul.ngx-pagination li {
    margin-right: 2px;
  }

  #fullThings {
    padding-left: 0;
    padding-right: 0;
  }

  .fake-card {
    width: 114px;
  }
}

@media screen and (min-width: 576px){

}

pagination-controls.my-pagination /deep/ pagination-template ul.ngx-pagination li {
  margin-bottom: 1em;
}

pagination-controls.my-pagination /deep/ pagination-template ul.ngx-pagination li.current {
  padding-right: 2px;
}

pagination-controls.my-pagination /deep/ pagination-template ul.ngx-pagination li:not(.current) {
  margin-bottom: 1em;
  height: 25px;
}

pagination-controls.my-pagination {
  padding-bottom: 0;
  margin-bottom: 0;
}
