@import 'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css';

body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
}

pagination-controls ul {
    padding: 0;
}

.pointer {
    cursor: pointer;
}

@media (min-width: 768px) {
    body.modal-open {
        padding-right: 17px !important;
    }
}

@media (min-width: 576px) {
    .border-sm-0 {
        border: 0 !important;
    }
}

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.no-select {
    user-select: none;
}

.tooltip-w3 {
    position: relative;
    display: inline-block;
}

.tooltip-w3 .tooltiptext-w3 {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 10;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip-w3 .tooltiptext-w3::after {
    content: '';
    position: absolute;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #555 transparent;
}

.tooltip-w3 .tooltiptext-w3,
.tooltip-w3 .left.tooltiptext-w3 {
    margin-left: -60px;
}

.tooltip-w3 .tooltiptext-w3::after,
.tooltip-w3 .left.tooltiptext-w3::after {
    right: 17px;
    left: unset;
}

.tooltip-w3 .right.tooltiptext-w3 {
    margin-left: 30px;
}

.tooltip-w3 .right.tooltiptext-w3::after {
    left: 17px;
    right: unset;
}

.tooltip-w3 .tooltiptext-w3,
.tooltip-w3 .bottom.tooltiptext-w3 {
    top: calc(100% + 10px);
    bottom: initial;
    left: -30px;
}

.tooltip-w3 .tooltiptext-w3::after,
.tooltip-w3 .bottom.tooltiptext-w3::after {
    bottom: 100%;
    top: initial;
    /*right: 17px;*/
}

.tooltip-w3 .top.tooltiptext-w3 {
    top: initial;
    bottom: calc(100% + 10px);
}

.tooltip-w3 .top.tooltiptext-w3::after {
    top: 100%;
    bottom: initial;
    /*right: 96px;*/
    border-color: #555 transparent transparent transparent;
}

@media (max-width: 991.98px) {
    .tooltip-w3 .left-md.tooltiptext-w3 {
        margin-left: -60px;
    }

    .tooltip-w3 .left-md.tooltiptext-w3::after {
        right: 17px;
        left: unset;
    }

    .tooltip-w3 .right-md.tooltiptext-w3 {
        margin-left: 30px;
    }

    .tooltip-w3 .right-md.tooltiptext-w3::after {
        left: 17px;
        right: unset;
    }

    .tooltip-w3 .bottom-md.tooltiptext-w3 {
        top: calc(100% + 10px);
        bottom: initial;
        left: -30px;
    }

    .tooltip-w3 .bottom-md.tooltiptext-w3::after {
        bottom: 100%;
        top: initial;
        right: 17px;
    }

    .tooltip-w3 .top-md.tooltiptext-w3 {
        top: initial;
        bottom: calc(100% + 10px);
    }

    .tooltip-w3 .top-md.tooltiptext-w3::after {
        top: 100%;
        bottom: initial;
        right: 96px;
        border-color: #555 transparent transparent transparent;
    }
}

.tooltip-w3:hover .tooltiptext-w3 {
    visibility: visible;
    opacity: 1;
}
