.magiccard_li{
  width: 108px;
  height: 153px;
}

.magiccard {

    width: 100%;
    position: relative;

}

.nowrap {

    position: relative;
    z-index: 20;
    float: left;
    margin: 5px 3px;

}

.amountIcon {

    position: absolute;
    z-index: 21;
    top: 97.4%;
    width: 15%;
    margin-left: 42.5%;

}

.nothave {
    transition: opacity 0.2s ease-in-out;
    -webkit-transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    -ms-transition: opacity 0.2s ease-in-out;
    -o-transition: opacity 0.2s ease-in-out;
    opacity: 0.4;
}

.nowrap:hover > .nothave, .flipper:hover > .front .nothave, .flipper:hover > .back .nothave {
  transition: opacity 0.07s ease-in-out;
  -webkit-transition: opacity 0.07s ease-in-out;
  -moz-transition: opacity 0.07s ease-in-out;
  -ms-transition: opacity 0.07s ease-in-out;
  -o-transition: opacity 0.07s ease-in-out;
  opacity: 1;

}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
 }

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  .magiccard_li{
    width: 217px;
    height: 306px;
  }
 }

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {  }

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {  }
