<ul class="rarity-filter d-inline-block">
  <li class="filter-element" (click)="onChangeRarityFilter('C', !isCommon)" [ngClass]="{'active': isCommon}">C</li>
  <li class="filter-element" (click)="onChangeRarityFilter('U', !isUncommon)" [ngClass]="{'active': isUncommon}">U</li>
  <li class="filter-element" (click)="onChangeRarityFilter('R', !isRare)" [ngClass]="{'active': isRare}">R</li>
  <li class="filter-element" (click)="onChangeRarityFilter('M', !isMythic)" [ngClass]="{'active': isMythic}">M</li>
</ul>
<div class=" ml-4 d-inline-block tooltip-w3 pointer">
    <img src="/assets/img/filter/card-all.svg" (click)="onChangeRadio(quantityEnum.ALL)" [ngClass]="{ 'selected' : quantityFilter === quantityEnum.ALL}" class="quantity-img">
    <span class="right left-md tooltiptext-w3">Összes</span>
</div>
<div class="d-inline-block tooltip-w3 pointer">
    <img src="/assets/img/filter/card-have.svg" (click)="onChangeRadio(quantityEnum.HAVE)" [ngClass]="{ 'selected' : quantityFilter === quantityEnum.HAVE}" class="quantity-img">
    <span class="right left-md tooltiptext-w3">Meglévő</span>
</div>
<div class="d-inline-block tooltip-w3 pointer">
    <img src="/assets/img/filter/card-miss.svg" (click)="onChangeRadio(quantityEnum.NOTHAVE)" [ngClass]="{ 'selected' : quantityFilter === quantityEnum.NOTHAVE}" class="quantity-img">
    <span class="right left-md tooltiptext-w3">Hiányzó</span>
</div>
