.activeSet .setIcon{
    opacity: 1;
}

.setIcon{
    height: 45px;
    margin: auto;
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
    opacity: 0.4;
}

a:not(.activeSet) img:hover {

    position: relative;
    top: 1px;
    left: 1px;

}
