<ul class="navbar-nav" style="margin-left: 30px; margin-right: 20px;">

    <ng-container *ngFor="let menu of menus">
        <li class="nav-item"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: menu.exact }"
        *ngIf="menu.always || loggedUser">
        <a class="nav-link" [routerLink]="[menu.link]">{{menu.name}}</a>
        </li>
    </ng-container>

    <li
        class="nav-item"
        *ngIf="!loggedUser"
    >
        <p class="nav-link pointer mb-0" (click)="openModalWithComponent()">
            Log in
        </p>
    </li>
    <li
        class="nav-item"
        *ngIf="loggedUser"
    >
        <p class="nav-link pointer mb-0" (click)="onLogout()">Log Out</p>
    </li>
    <li class="nav-item" *ngIf="loggedUser">
        <img src="/assets/img/user-icon/default-icon.png" style="width: 40px">
        {{loggedUser.email}}
    </li>
</ul>
