<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand d-none d-lg-block" routerLink="/">Navbar</a>
    <fa-icon class="d-lg-none pointer" [icon]="faBars" (click)="sideMenuService.toggleSideMenu()"></fa-icon>

    <ul class="navbar-nav mr-auto d-none d-lg-flex" style="align-items: center;flex-direction: row;">
        <ng-container *ngFor="let menu of menus">
            <li class="nav-item"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: menu.exact }"
            *ngIf="needToShow(menu.showMenu)">
            <a class="nav-link" [routerLink]="[menu.link]">{{menu.name}}</a>
            </li>
        </ng-container>
        <li class="nav-item">
            <p *ngIf="loggedUser" class="nav-link pointer mb-0" (click)="onLogout()">Log Out</p>
        </li>
        <li class="nav-item" *ngIf="loggedUser">
            <img src="/assets/img/user-icon/default-icon.png" style="width: 40px">
            {{loggedUser.email}}
        </li>
    </ul>
    <div class="tooltip-w3 pointer ml-auto" (click)="onUpdate()" *ngIf="needUpdate">
        <fa-icon [icon]="faArrowCircleUp" style="color:red;margin-right:10px;"></fa-icon>
        <span class="tooltiptext-w3">Új verzió elérhető!</span>
    </div>
    <div class="tooltip-w3">
        <fa-icon [icon]="faInfoCircle"></fa-icon>
        <span class="tooltiptext-w3">{{ version }}</span>
    </div>
</nav>
