#containerMenu {

    position: fixed;
    width: 100%;
    /* height: 45px; */
    background-color: rgba(12, 130, 34, 0.5);
    color: #ffffff;
    font-family: "Signika", sans-serif;
    font-weight: 600;
    font-size: 15px;
    padding-top: 27px;
    padding-bottom: 10px;
    text-transform: uppercase;
    display: block;
    z-index: 30;

}

.navigationbar {

    float: right;
    padding-left: 0;
    margin-bottom: 0;
    margin-right: 200px;
    list-style: none;

}

.navigationbar li {

    display: block;
    float: left;
    margin-left: 30px;

}

.navigationbar li a {

    color: inherit;
    text-decoration: inherit;

}