<h2 class="my-3 text-xl">Ezeket a kártyákat fogod feltölteni</h2>
<button class="btn float-left mr-3" [ngClass]="isRaw ? 'btn-danger' : 'btn-primary'" (click)="onGrouping()">Összevonás</button>
<p class="float-left"> Rendezés:
    <fa-icon
        [icon]="isNormalOrder ? faSortAlphaDown : faSortAlphaDownAlt"
        (click)="onChangeOrder()"
        style="font-size: 20px;"
    ></fa-icon>
</p>
<div style="clear: both;"></div>
<ul
    class="pl-0"
    style="justify-content: center; list-style: none;"
>
    <ng-container *ngIf="!isRaw">
        <app-magic-card
            [magicCard]="card"
            *ngFor="let card of cards"
        ></app-magic-card>
    </ng-container>
    <ng-container *ngIf="isRaw">
        <app-magic-card
            [magicCard]="card"
            *ngFor="let card of rawCards"
        ></app-magic-card>
    </ng-container>

    <li class="fake-card"></li>
    <li class="fake-card"></li>
    <li class="fake-card"></li>
    <li class="fake-card"></li>
    <li class="fake-card"></li>
</ul>

<div style="clear: both;"></div>
