.rarity-filter .filter-element.active{
  background: #e9e9e9;
  box-shadow: inset 0px 1px 0px rgba(255,255,255, .8), 0px 1px 3px rgba(0,0,0, .1);
  color: #717171;
  text-shadow: 0px 1px 0px rgba(255,255,255, 1);

}

.rarity-filter .filter-element.active:hover{
  background: #fefefe;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FEFEFE), to(#f0f0f0));
  background: -moz-linear-gradient(0% 0% 270deg,#FEFEFE, #f0f0f0);
  cursor:pointer;
}

.rarity-filter .filter-element:hover{
  background: #444;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#444), to(#747474));
  background: -moz-linear-gradient(0% 0% 270deg,#444, #747474);
  cursor:pointer;
}

.rarity-filter .filter-element {
  border: solid 1px #c0c0c0;
  background: #616161;
  box-shadow: inset 0px 0px 8px rgba(0,0,0, .5), 0px 1px 0px rgba(255,255,255, .8);
  color: #f0f0f0;
  text-shadow: 0px 0px 3px rgba(0,0,0, .5);

  display: inline-block;
  padding: 0px 9px;
  margin-right: 4px;
  border-radius: 3px;
  font-size: .875em;
  font-weight: bold;
  text-decoration: none;
  line-height: 24px;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}
